/* Header.css */
.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  max-width: 60%;
  margin: 0px auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header-title {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: bold;
  color: #eeeeee;
  cursor: pointer;
}

.header-btn {
  cursor: pointer;
  color: #eeeeee;
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  width: 100px;
  margin: 10px 0px 0px 1rem;
}

.header-btn:hover {
  color: #ffa559;
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.search-bar {
  width: 60%;
  height: 30px;
  max-width: 400px;
  padding: 0.5rem 1rem;
  border: 2px solid #ffa559;
  border-radius: 10px 10px 10px 10px;
  font-size: 1rem;
  outline: none;
  color: #eeeeee;
  transition: border-color 0.3s;
  background-color: transparent;
  margin-top: 10px;
}

.header-right {
  display: flex;
  gap: 1rem;
}

.sub-header {
  max-width: 60%;
  margin: 0px auto;
  position: relative;
  top: 80px;
}
/* .x-tab .x-inner-el {
  background-color: transparent !important; /* Red, or your preferred color */
/* } */
.x-panel-body {
  overflow: auto !important;
  background-color: transparent !important;
  border: none !important;
}
.custom-tab-panel .x-tab.x-active .x-inner-el {
  background-color: #2196f3; /* Or any color to indicate selection */
  border-bottom: 2px solid #2196f3;
}
.x-tab-default-top {
  padding: 10px 32px 10px 32px !important;
}
/* .x-tab.x-active .x-active-indicator-el {
  background-color: #ffa559 !important;
  color: #eeeeee !important;
} */
/* .x-toolbar-body-el.x-horizontal > .x-component {
  padding: 0px 20px !important;
} */
/* .x-panel-body-el {
  background-color: transparent !important;
} */
.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
  color: #eeeeee !important;
}
.x-tab-default {
  background-color: transparent !important;
  border-color: transparent !important;
}
.x-tab.x-tab-active.x-tab-default {
  border-color: #ffa559 !important;
}
.x-fit-item {
  display: flex;
  flex-direction: column;
}
/* 
.login-btn {
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
}

.login-btn:hover {
  background-color: #007bff;
  color: white;
}

.explore-btn {
  background-color: #007bff;
  color: white;
}

.explore-btn:hover {
  background-color: #0056b3;
} */
