/* .x-column-header {
  background-color: #5a6f7c !important;
  border: 1px solid #ffa559 !important;
} */
.x-grid-row {
  color: #eeeeee !important;
  background-color: #5a6f7c !important;
  border: 1px solid #ffa559 !important;
}
.x-grid-row:hover {
  background-color: #1e3e62 !important;
}

.x-panel-header-default {
  display: none;
}

/* Container for the name and buttons */

.heading {
  color: #eeeeee;
  font-size: 1.75rem;
  margin: 0 auto;
  position: relative;
  top: 100px;
  max-width: 1200px;
}
.button-group-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
  position: relative;
  box-sizing: border-box;
  top: 115px;
  margin: 0 auto;
}

/* Name styling on the left */
.name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Buttons container */
.buttons {
  display: flex;
  gap: 8px;
}

/* Button default styles */
.button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  background-color: #ddd;
  color: #333;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Button selected state */
.button.selected {
  background-color: #4caf50; /* Green color for selected button */
  color: white;
}

/* Button hover effect */
.button:hover {
  background-color: #bbb;
}
